.heading-permalink {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1.4;
    text-decoration: none;

}

.heading-permalink::before {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    width: 100%;
    /*width: 120px;*/
}


.heading-permalink {
    visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    display: inline-block;
}

h1:hover .heading-permalink,
h2:hover .heading-permalink,
h3:hover .heading-permalink,
h4:hover .heading-permalink,
h5:hover .heading-permalink,
h6:hover .heading-permalink {
    visibility: visible;
}


/*[id^=content-] {*/
/*    background-color: #00BB33;*/
/*    offset-position: 10% 25%;*/
/*}*/
