
.spotlight {
    position: relative;
    border-radius: inherit;
    --mouse-x: 0;
    --mouse-y: 0;
    --light: theme('colors.green.600')
}


.spotlight:hover::before {
    opacity: 1;
}

.spotlight::before {
    content: "";
    background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y), var(--light), transparent);
    height: 100%;
    mix-blend-mode: color-dodge;
    width: 100%;
    z-index: 10;
    position: absolute;
    opacity: 0;
    transition-duration: 250ms;
    pointer-events: none;
    top: 0;
    left: 0;
    transform-origin: center;
}
